[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"

[packages]
loguru = "*"
pydantic = {extras = ["dotenv"], version = "*"}
piexif = "*"
exif = "1.0.0"
imagehash = "*"
aiofiles = "*"
typer = {extras = ["all"], version = "*"}

[requires]
python_version = "3.8"
